/*
 * ----------------------------------------------------
 *    Nextflow config file for the FetchGEO pipeline
 * ----------------------------------------------------
 */

executor {
    name                = 'slurm'
    perCpuMemAllocation = true
	exitReadTimeout     = '5 days'
}

singularity {  
    enabled    = true
    autoMounts = true
	runOptions = '-B /cluster'
}

process {

	/* ========================================================================================
		DEFAULT PARAMETERS
	======================================================================================== */
	beforeScript    = 'module load eth_proxy'
	scratch         = 'true'
	time            = 4.hour
	memory          = 5.GB
	cpus            = 1
	errorStrategy   = { sleep(Math.pow(2, task.attempt) * 30 as long); return 'retry' }
  	maxRetries      = 3

	/* ========================================================================================
		MODULE LABELS
	======================================================================================== */
	withLabel: geofetch {
    	time   = { task.attempt > 2 ? 120.hour : task.attempt > 1 ? 120.hour : 24.hour }
  	}

	withLabel: sradownloader {
    	time   = { task.attempt > 2 ? 120.hour : task.attempt > 1 ? 120.hour : 24.hour }
  	}
}


/* ========================================================================================
	PIPELINE INFO
======================================================================================== */
timeline {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_timeline.html"
}

report {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_report.html"
}

trace {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_trace.txt"
}
